<div class="container-fluid about">
    
    <div class="row mb-5 justify-content-center">
        Got something great to discuss or want some help, reach me at :
    </div>
    <div class="row fluid">
        <div class="col">
            <a href="https://www.linkedin.com/in/aman-mishra-b853b1170/">
                <img src="assets/images/contact/linkedin.svg" class="img-fluid" alt="linkedin">
            </a>
        </div>
        
        <div class="col">
            <a href="https://github.com/Am-Coder">
                <img src="assets/images/contact/github.svg" class="img-fluid" alt="github">
            </a>  
        </div>
        
        <div class="col">
            <a href="https://medium.com/@mishraaman2210">
                <img src="assets/images/contact/medium.svg" class="img-fluid" alt="medium">
            </a>
        </div>
        
        <div class="col">
            <a href="mailto:mishraaman2210@gmail.com">
                <img src="assets/images/contact/gmail.svg" class="img-fluid" alt="gmail">
            </a>
        </div>
    </div>
</div>
