<div class="container-fluid about">
    <div>
        You have come at the right place if you wanna know all about me,
        what I did during my engineering and what I am upto these days.
        <i class="fa fa-smile-o fa-2x" aria-hidden="true"></i>

    </div>
    <br>
    <div style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
       "I am Aman Mishra, a final year Undergrad Student pursuing my Computer Engineering at the 
        National Institute of Technology, Surat in India. I am a tech geek and in general
        have explored different tech domains mainly relating to Web Development, 
        Software Development, and Machine Learning. 
        Owing to my interests, I have done different projects and interns in these 
        areas and hold considerable experience with the associated tech stack 
        and theories. "
    </div>
    <br>
    <div>
        Apart from the technical stuff, I love 
        <span> football &#9917;</span>
        and 
        <span> chess &#9812;</span>
        (my recent obsession) 
        and meditate &#9775; ocassionally.
    </div>
    <br>
    <div>
        <a class="btn btn-primary-outline ripple" target="_self" href="assets/files/AmanMishra_Resume.pdf" download="AmanMishra_Resume.pdf">
            Heres my resume if you need
        </a>
    </div>
    <br>
    <div class="row fluid">
        <app-contact></app-contact>
    </div>
</div>
