<div class="container-fluid about">
    <div class="row mt-5">
        <img class="rounded mr-5" 
        src="assets/images/interns/gsoc.svg" 
        style="max-width: 100px;" 
        alt="Google Summer Of Code with OpenMRS">
        <h6>
            Google Summer Of Code with OpenMRS    
            <br>
            <small>Intern Web Backend Development | June 2020-Aug. 2020</small>
            <br>
            <small>
                <a class="btn btn-primary-outline ripple" 
                    href="https://summerofcode.withgoogle.com/archive/2020/projects/5084777327099904/" >
                    Know More ...
                </a>
            </small>
        </h6>
    </div>

    <div class="row mt-5">
        <img class="rounded mr-5" 
        src="assets/images/interns/gep.svg" 
        style="max-width: 200px;" 
        alt="GEP Worldwide" >

        <h6>
            GEP Worldwide
            <br>
            <small>Intern Web Backend Development | May 2020-June 2020</small>
            <br>
            <small>
                <a class="btn btn-primary-outline ripple" 
                    href="https://drive.google.com/file/d/1yaCzgaQ2bFUo5OYJjoGTPUQ4p9XVXvrr/view?usp=sharing" >
                    Know More ...
                </a>
            </small>
        </h6>
        
    </div>

    <div class="row mt-5">
        <img class="rounded mr-5" 
        src="assets/images/interns/iisc.jpg" 
        style="width: 100px;" 
        alt="Indian Institute of Sciences(IISc), Bangalore">

        <h6>
            Indian Institute of Sciences(IISc), Bangalore
            <br>
            <small>Research Intern Machine Learning | May 2019-July 2019 </small>
            <br>
            <small>
                <a class="btn btn-primary-outline ripple" 
                    href="https://github.com/Am-Coder/IISc-ResearchWork" >
                    Know More ...
                </a>
            </small>
        </h6>
    </div>
</div>
