<div class="container-fluid about">
    <div class="btn-group mb-3" role="group">
        <button type="button"   
            [ngClass]="menuType == 3 ? 'is-active':'' " 
            class="btn btn-primary-outline ripple" 
            (click)="switchMenu(3)">Programming Languages
        </button>
        <button type="button" 
            [ngClass]="menuType == 0 ? 'is-active':'' " 
            class="btn btn-primary-outline ripple" 
            (click)="switchMenu(0)">Web Dev
        </button>
        <button type="button" 
            [ngClass]="menuType == 1 ? 'is-active':'' "
            class="btn btn-primary-outline ripple" 
            (click)="switchMenu(1)">Machine Learning
        </button>
        <button type="button" 
            [ngClass]="menuType == 2 ? 'is-active':'' "
            class="btn btn-primary-outline ripple" 
            (click)="switchMenu(2)">OS Familiarity
        </button>
        <button type="button" 
            [ngClass]="menuType == 4 ? 'is-active':'' "
            class="btn btn-primary-outline ripple" 
            (click)="switchMenu(4)">More Dev Tools
        </button>
    </div>
    <div class="row justify-content-center " *ngIf="menuType === 0">
        <div>
            FRONT END STUFF
            <br>
            <img src="assets/images/skills/html5.svg" class="img-fluid mr-3 mb-3" alt="html5">
            <img src="assets/images/skills/css.svg" class="img-fluid mr-3 mb-3" alt="css">
            <img src="assets/images/skills/javascript.svg" class="img-fluid mr-3 mb-3" alt="javascript">
            <img src="assets/images/skills/angular.svg" class="img-fluid mr-3 mb-3" alt="angular">
            <img src="assets/images/skills/bootstrap4.svg" class="img-fluid mr-3 mb-3" alt="bootstrap4">
            <img src="assets/images/skills/jquery.svg" class="img-fluid mr-3 mb-3" alt="jquery">
            <img src="assets/images/skills/typescript.svg" class="img-fluid mr-3 mb-3" alt="typescript">
                        
        </div>
        <hr>

        <div>
            BACK END STUFF 
            <br>
            <img src="assets/images/skills/django.svg" class="img-fluid mr-3 mb-3" alt="django">
            <img src="assets/images/skills/spring.svg" class="img-fluid mr-3 mb-3" alt="spring">
            <img src="assets/images/skills/php.svg" class="img-fluid mr-3 mb-3" alt="php">
            <img src="assets/images/skills/restapi.svg" class="img-fluid mr-3 mb-3" alt="restapi">
            <img src="assets/images/skills/hibernate.svg" class="img-fluid mr-3 mb-3" alt="hibernate">
            <img src="assets/images/skills/swagger.svg" class="img-fluid mr-3 mb-3" alt="swagger">



            <img src="assets/images/skills/mysql.svg" class="img-fluid mr-3 mb-3" alt="mysql">
            <img src="assets/images/skills/sqlite.svg" class="img-fluid mr-3 mb-3" alt="sqlite">
            <img src="assets/images/skills/postgresql.svg" class="img-fluid mr-3 mb-3" alt="postgrsql">
            <img src="assets/images/skills/mongodb.svg" class="img-fluid mr-3 mb-3" alt="mongodb">
            
        </div>
        
    </div>
    <div class="row justify-content-center" *ngIf="menuType === 1">
        <img src="assets/images/skills/tensorflow.svg" class="img-fluid mr-5 mb-5" alt="tensorflow">
        <img src="assets/images/skills/sklearn.svg" class="img-fluid mr-5 mb-5" alt="sklearn">
        <img src="assets/images/skills/keras.svg" class="img-fluid mr-5 mb-5" alt="keras">
        <img src="assets/images/skills/pandas.svg" class="img-fluid mr-5 mb-5" alt="pandas">
        <img src="assets/images/skills/jupyter.svg" class="img-fluid mr-5 mb-5" alt="Jupyter">
    </div>
    <div class="row justify-content-center" *ngIf="menuType === 2">
        
        <div class="col">
            <img src="assets/images/skills/ubuntu.svg" 
            class="img-fluid mr-5 mb-5 mt-3 os" 
            alt="Ubuntu">
            <div class="progress mb-5" style="width: 60%;">
                <div class="progress-bar progress-bar-success" 
                role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    Ubuntu
                </div>
            </div>
            
        </div>
        <div class="col">
            <img src="assets/images/skills/windows.svg" 
            class="img-fluid mr-5 mb-5 mt-3 os" alt="windows">
    
            <div class="progress mb-5" style="width: 60%;">
                <div class="progress-bar progress-bar-success" 
                role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                Windows
                </div>
            </div>
        </div>


    </div>
    <div class="row justify-content-center" 
        *ngIf="menuType === 3;">
        <app-skillchart style="width: 100%;"></app-skillchart>
    </div>

    <div class="row justify-content-center" *ngIf="menuType === 4">
        <img src="assets/images/skills/git.svg" class="img-fluid mr-5 mb-5" alt="git">
        <img src="assets/images/skills/jira.svg" class="img-fluid mr-5 mb-5" alt="jira">
        <img src="assets/images/skills/pytest.svg" class="img-fluid mr-5 mb-5" alt="pytest">
        <img src="assets/images/skills/travis.svg" class="img-fluid mr-5 mb-5" alt="travis">
        <img src="assets/images/skills/bamboo.svg" class="img-fluid mr-5 mb-5" alt="bamboo">
    </div>
</div>
