<div class="container-fluid about">
    Some of my projects I did during my engineering:
    <div class="mt-3">

        <ul>
        
            <li>
                <ul>
                    <b>Brainonet Rest API and CMS Project</b>  aims at providing an
                    android application that can help serve news to the masses.
                
                    <li>
                        <a class="text-white"
                        href="https://github.com/Am-Coder/Brainonet">Link to Repo</a>
                    </li>
                    <li>
                        Tech Stack - Python (Django, Django Rest, PyTest) ,
                        SQLite, Swagger
                    </li>
                </ul>
            </li>
            <br>
    
            <li>
                <ul>
                    <b>Wisdom</b>  An online portal where you can view and post blogs
                    using a WYSIWYG editor.
                
                    <li>
                        <a class="text-white"
                        href="https://github.com/Am-Coder/Wisdom">Link to Repo</a>
                    </li>
                    <li>
                        Tech Stack - Bootstrap, PHP, MySQL Db
                    </li>
                </ul>
            </li>
            <br>
    
            <li>
                <ul>
                    <b>Shopify</b>  An e-commerce website for clothing goods.
                
                    <li>
                        <a class="text-white" 
                        href="https://github.com/Am-Coder/Shopify">Link to Repo</a>
                    </li>
                    <li>
                        Tech Stack - Java (Spring Boot), MySQL Db
                    </li>
                </ul>
            </li>
            <br>
            <li>
                <ul>
                    <b>Personal Portfolio</b>  The very site you are on right has been 
                    created from scratch by me.
                
                    <li>
                        <a class="text-white" 
                        href="https://github.com/Am-Coder/personal-site">
                            Link to Repo</a>
                    </li>
                    <li>
                        Tech Stack - Angular 9, Bootstrap, Github Pages
                    </li>
                </ul>
            </li>
            
          </ul>
    </div>
    
    Wanna know more about my different projects and my open source contributions, 
    heres me at github : 
    <a class="text-white" href="https://github.com/Am-Coder">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    

</div>
