<div class="card sidebar">

    <img class="circle card-img-top" 
        src="assets/images/me.png" 
        style="max-width: 300px;" 
        alt="Thats Me">

    <div class="card-body">
        <ul class="nav flex-column">
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/about" > 
                    
                About Me 
                </a>
            </li>
        
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/education" > 
                    
                Education
                </a>        
            </li>
            
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/skills" > 
                    
                    Look What I know 
                </a>        
            </li>
        
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/experience" > 
                    Professional Experience 
                </a>        
            </li>
        
            <!-- <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/contact" >    
                    Achievements 
                </a>        
            </li> -->
        </ul>
    </div>
</div>