<button type="button" class="btn btn-primary-outline ripple collapser" 
data-toggle="collapse" data-target="#mainmenu">
    <b>
        Explore <i class="fa fa-caret-down" aria-hidden="true"></i>
    </b>
</button>

<div class="card sidebar collapse show" id="mainmenu">

    <img class="circle card-img-top" 
        src="assets/images/me.png" 
        style="max-width: 300px;" 
        alt="Thats Me">

    <div class="card-body">
        <ul class="nav flex-column">
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/about" > 
                    
                About Me 
                </a>
            </li>
        
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/education" > 
                    
                Education
                </a>        
            </li>
            
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/skills" > 
                    
                    Look What I know 
                </a>        
            </li>
        
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/experience" > 
                    Professional Experience 
                </a>        
            </li>
        
            <li class="nav-item mt-2">
                <a routerLinkActive="is-active" 
                    class="btn btn-primary-outline ripple"
                    style="cursor: pointer" 
                    routerLink="/content/projects" > 
                    Personal Projects 
                </a>        
            </li>
        </ul>
    </div>
    <span>
        Source Code - 
        <a class="text-white" href="https://github.com/Am-Coder/personal-site">
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
        </a>
    </span>
</div>
