.is-active {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    transform: translateY(4px);

}

.sidebar {
    background-color: transparent;
}

img {
    border-radius: 50%;
}
@media screen and (min-width: 770px) {
	.collapser {
        display: none;
    }
}
@media screen and (max-width: 770px) {
	.collapse {
        backdrop-filter: blur(20px);
    }
}