<div class="container-fluid about">

    <div class="row fluid">
        <div class="col">
            <div>
                <a href="https://www.svnit.ac.in/">
                    <img src="assets/images/education/nitsurat.svg" class="img-fluid" alt="NIT Surat">
                </a> 
            </div>
            <br>
            <div>
                <h4>NIT, Surat</h4>
                <h5>B.Tech in Computer Engineering</h5>
                <h6>2017-2021</h6>
                <p>9.11 C.G.P.A. (till sem 7)</p>
            </div>
        </div>
        
        <div class="col">
            <div>
                <a href="https://www.cbse.gov.in/">
                    <img src="assets/images/education/cbse.svg" class="img-fluid" alt="CBSE Board">
                </a>   
            </div>
            <br>
            <div>
                <h4>C.B.S.E. board</h4>
                <h5>S.S.E.</h5>
                <h6>2017</h6>
                <p>95.4 %</p>
            </div>
        </div>
        
        <div class="col">
            <div>
                <a href="https://www.cbse.gov.in/">
                    <img src="assets/images/education/cbse.svg" class="img-fluid" alt="CBSE Board">
                </a>   
            </div>
            <br>
            <div>
                <h4>C.B.S.E. board</h4>
                <h5>H.S.E.</h5>
                <h6>2015</h6>
                <p>10 C.G.P.A.</p>
            </div>
        </div>
        
    </div>


</div>
